.container {
  width: 100%;
  max-width: 1280px;
  margin-block: 0;
  margin-inline: auto;
}

.channelBanner {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 16px;
}

.channelHeaderContainer {
  padding-block-end: 16px;
}

.channelHeaderContent {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.channelAvatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-inline-end: 24px;
}

.channelName {
  font-size: 36px;
  font-weight: 700;
  color: #0f0f0f;
  margin-bottom: 16px;
}

.channelTabs {
  display: flex;
  border-block-end: 1px solid #e0e0e0;
  margin-block: 0;
}

.tabItem {
  padding-block: 12px;
  padding-inline: 32px;
  font-size: 14px;
  font-weight: 500;
  color: #606060;
  position: relative;
}

.tabItem.active {
  color: #0f0f0f;
}

.tabItem.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  inset-inline-start: 0;
  width: 100%;
  height: 3px;
  background-color: #0f0f0f;
}
